/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@font-face {
  font-family: "Nexa";
  src: url("../fonts/Nexa/NexaLight.otf") format("otf"),
    url("../fonts/Nexa/NexaBold.otf") format("otf");
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("../fonts/Kumbhsans/KumbhSans-Regular.ttf") format("otf");
}

/* globals shop */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f1f1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

p,
li,
a,
button {
  font-size: 2.5rem;
  color: black;
}

li,
a,
button {
  list-style: none;
  text-decoration: none;
  border: none;
}

/*navigatie shop*/
header {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  background: #000000;
  height: 10vh;
  padding: 1.5rem;
  position: relative;
}
nav {
  margin: auto;
  z-index: 1;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex: 1 1 85rem;
}

nav a:hover {
  color: #f2b714;
  font-size: 35px;
  transition: all 0.3s ease;
}

.logo {
  cursor: pointer;
  flex: 1 1 40rem;
}

.logo img {
  width: 12%;
}

nav li,
a {
  color: white;
}

/* bezorgformulier */
.bezorgformulier h2 {
    margin-top: 6rem;
    margin-left: 20rem;
  }
  
  /* invulformulier over bezorggegevens */
  .bezorggegevens {
    background-color: #f7eded;
    height: 55vh;
    width: 90rem;
    font-size: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem grey;
    padding: 3rem 5rem;
    margin: 5rem 20rem;
    font-family: "poppins", sans-serif;
    font-weight: bold;
  }
  
  /* aanpassingen formulier bezorggegevens */
  .formrow {
    display: flex;
    width: 100%;
    margin: 5rem 0;
    gap: 2rem;
    justify-content: space-between;
  }
  
  .formrow input {
    height: 3rem;
    font-size: 1.5rem;
  }
  
  .formvoornaam input, .formachternaam input, .formpostcode input {
    width: 15rem;
  }
  
  .formland input {
    width: 20rem;
  }
  
  .formstraat input {
    width: 25rem;
  }
  
  .formtussenvoegsel input, .formhuisnummer input, .formtoevoeging input {
    width: 7rem;
  }
  
  .formemail input {
    width: 30rem;
  }
  
  button {
    border: 0.2rem solid #ac0d0d;
    color: black;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    height: 2.8rem;
    background-color: transparent;
    width: 12rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  
  button:hover {
    border: 0.2rem solid #f2b714;
    color: black;
    background-color: #f2b714;
    transition: all 0.3s ease;
  }

  /* verzendmethodes (thuisbezorging & afhalen) */
  .verzendmethodes {
    background-color: #f7eded;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 25vh;
    width: 90rem;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-family: "Poppins", sans-serif;
    margin: 5rem 20rem;
    box-shadow: 0.1rem 0.1rem 0.5rem grey;
  }
  
  .bezorgformulier button {
    border: 2px solid #f2b714;
    border-radius: 0rem;
    width: 16rem;
    height: 4.5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 28rem;
    gap: 4rem;
    font-weight: bold;
  }
  
  /* footer */
    .footerartikel {
      margin-top: 15rem;
      padding-top: 1.5rem;
      padding-left: 150rem;
      width: 100%;
      height: 6vh;
      background-color: black;
      position: relative;
    }
    
    .footerartikel p {
      font-size: 2rem;
      margin: -5rem 0rem;
      color: #9e9e9e;
    }
  
/* social media icoontjes in de footer */
    .socialmedia {
      margin-top: -1rem;
      margin-left: -144rem;
    }